{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Drigan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if flatpage %}{{ flatpage.title }}{% endif %}{% endblock %} | drigan</title>

    <link href="{% static "style.css" %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
  <div id="wrapper">
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Drigan</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if user.is_staff %}
                <li class="active"><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
            {% endif %}
            {% if perms.events.add_event or DRIGAN_CREATE_EVENTS_WITHOUT_PERMISSION %}
                <li><a href="/events/add">{% trans "Add event" %}</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
	        {% if user.is_authenticated %}
              <li><a href="">{{ user }}</a></li>
              <li><a href="{% url "auth_logout" %}?next={{ request.path }}">{% trans "Sign out" %}!</a></li>
            {% else %}
              <li><a href="{% url "auth_login" %}?next={{ request.path }}">{% trans "Sign in" %}!</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </header>
    <div class="content container">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div><!-- /.container -->
  </div><!-- /#wrapper -->
  <footer class="container">
      System przetwarza dane osobowe, <a href="https://rejestracja.zhp.pl/dokumentacja/informacje-o-przetwarzaniu-danych-osowych.html">pełna informacja znajduje się tutaj</a>.
      <br>
      Informacje o systemie (w tym jak tworzyć własne wydarzenia) <a href="https://rejestracja.zhp.pl/dokumentacja/"> znajduje się tutaj</a>.
  </footer>
  <script src="{% static "jquery-1.11.1.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "scripts.min.js" %}"></script>
</body>
</html>
