{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Upcoming events" %}{% endblock %}

{% block content %}
{% if perms.events.add_event or DRIGAN_CREATE_EVENTS_WITHOUT_PERMISSION %}
    <a href="{% url "events.views.add_event" %}" class='add-event-button'>{% trans "Organize your event with us!" %}</a>
{% endif %}
{% if user.is_authenticated %}
    <h2>{% trans "My events" %}:</h2>
    {% include "events/partials/event_list.html" with events=user.events.all %}
{% endif %}
<h2>{% trans "Upcoming events" %}:</h2>
{% include "events/partials/event_list.html" with events=object_list %}
{% endblock %}
