{% extends "base.html" %}
{% load i18n imagekit %}
{% load guardian_tags %}

{% block title %}
    {% blocktrans with name=object.name %}
        Delete event named "{{ name }}"
    {% endblocktrans %}
{% endblock %}

{% block content %}

<p>
{% blocktrans with name=object.name %}
   Do you really want to delete "{{ name }}"?
{% endblocktrans %}
</p>

    <div class="btn-toolbar">

        <form style="display: inline;" action="{% url "events-event-details" event_id=object.pk %}">
            <button type='submit' class='drig-primary'>{% trans "Return to event edition" %}</button>
        </form>

        <form style="display: inline;" method='post'>
            {% csrf_token %}
            <button type='submit' class='drig-danger'>{% trans "Delete event" %}</button>
        </form>

    </div>
{% endblock %}
