{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Add event" %}{% endblock %}
{% block content %}
    <form method='post' action='.' class="form-small form-alone">
        {% csrf_token %}
        <h1>{% trans "Add event" %}:</h1>
        {{ form.as_p }}
        <h4>{% trans "Organizer details" %}:</h4>
        {{ organizer_form.as_p }}
        <button type='submit'>{% trans "Save" %}</button>
    </form>
{% endblock %}
