{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit event" %}{% endblock %}
{% block content %}
<h1>{% blocktrans %}Edit event - {{ event }}{% endblocktrans %}</h1>
    <form method='post' action='.' class="form-small form-alone">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>{% trans "Organizer details:" %}</h3>
        {{ organizer_form.as_p }}
        <button type='submit'>{% trans "Save" %}</button>
    </form>
{% endblock %}
