{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Password reset" %}</h1>
    </div>
    <p>{% trans "Password reset successfully" %}</p>
    <p><a href="{% url 'auth_login' %}">{% trans "Sign in" %}!</a></p>
{% endblock %}
