{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<form method="post" action="." class="form-small form-alone">
    <h2>{% trans "Reset password" %}</h2>
    <p>{% trans "Type in your email and we will send you a link to reset your password." %}</p>
    {% csrf_token %} 
    {{ form.as_p }}

    <button type="submit">{% trans 'Submit' %}</button>
</form>
{% endblock %}
