{% load i18n %}
<form method='post' action='.' class="form-small" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{% trans "Fill form:" %}</h1>
    {{ form.as_p }}
    <button type='submit'>{% trans "Save" %}</button>
</form>
