{% load i18n %}

<h1>{% trans "Participants list:" %}</h1>
<table>
    {% if participants %}
        {% for participant in participants %}
            {% if forloop.first %}
                <thead>
                <tr>
                    <th>{% trans "№" %}</th>
                    <th>{% trans "Fill date" %}</th>
                    {% for key, value in participant.data_ordered %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ participant.fill_date }}</td>
                {% for key, value in participant.data_ordered %}
                    <td>{{ value.as_html }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>{% trans "There are no participants" %}</td></tr>
    {% endif %}
</table>
